NEXT_PUBLIC_SITE_URL=https://www.TheOutHaven.com
SITE_URL=https://www.TheOutHaven.com
DEFAULT_FROM_EMAIL=concierge@theouthaven.com
DEFAULT_REPLY_TO_EMAIL=concierge@theouthaven.com
NEXT_PUBLIC_TURNSTILE_SITE_KEY=your_turnstile_site_key
TURNSTILE_SECRET_KEY=your_turnstile_secret_key
